*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(0, 0, 0);
    font: normal 18pt arial;
}
header{
    color: white;
    text-align: center;
}
header h1 {
    padding: 10px;
}
section{
    background: white;
    border-radius: 15px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
}
div#msg{
    text-align: center;
}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
#picture {
    display: flex;
    justify-content: center;
}

#foto {
    align-self: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}